#search{
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #E9EFFF;
    background-image: url("./slanted-gradient2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*----- Search bar -----*/

.searchBarContainer{
    width: 100%;
    height: 15%;
    margin: 4% 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.searchBar{
    border: none;
    border-radius: 10px;
    height: 50%;
    width: 30%;
    padding: 0 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #343e4f;
    transition: 0.4s ease-in-out;

}
.searchBar:hover{
    border: 2px solid #EE6C4D;
    box-shadow: 0 0 10px #EE6C4D;
    width: 40%;
    transition: 0.4s ease-in-out;
}
.focused{
    border: 2px solid #EE6C4D;
    box-shadow: 0 0 10px #EE6C4D;
    width: 40%;
    transition: 0.4s ease-in-out;
}
.searchIconContainer{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.searchIcon{
    width: 24px;
    height: 24px;
    margin-top: 10%;
    color: white;
}
.search-form{
    height: 70%;
    width: 80%;
}
.searchInput{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    color: white;
}
.searchInput::placeholder{
    color: white;
}
.cIconContainer{
    width: 10%;
    height: 100%;
}
.cancelSpan{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.cancelIcon{
    width: 24px;
    height: 24px;
    color: white;
}
.hidden{
    display: none;
}

/*----- Category Card List -----*/

.searchCategoryList{
    width: 100%;
    height: 100%;
}
.categoryListTitle{
    width: 90%;
    height: 10%;
    margin: 0 5%;
    color: white;
    font-size: 1.9em;
    font-weight: 600;
}
.categoryListRow{
    width: 90%;
    height: 40%;
    margin: 0 5% 2% 5%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hidden{
    display: none;
}

/* Category product view */

.productOfCategory{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navigation{
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2% 0;
}
.navigationText{
    color: white;
    font-size: 1.9em;
    font-weight: 600;
    cursor: pointer;
}
.navigationIcon{
    color: white;
    cursor: pointer;
}

.searchResultContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.res{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.pr{
    width: 25%;
    height: 55%;
    margin-bottom: 5%;
}
.emptyPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.emptyPageTitle{
    color: white;
    font-size: 1.8em;
    font-weight: 600;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5%;

}
.emptyPageImg{
    width: 30%;
    height: 80%;
}
@media screen and (min-width: 300px) {
    .pr{
        width: 100%;
        height: 60%;
        margin: 0;
    }
    .emptyPageTitle{
        color: white;
        font-size: 1.2em;
        margin-top: 25%;
    }
    .emptyPageImg{
        width: 90%;
        height: 80%;
    }
}
@media screen and (min-width: 700px) {
    .pr{
        width: 50%;
        height: 50%;
        margin: 0;
    }
    .res{
        justify-content: space-evenly;
    }
    .emptyPageTitle{
        color: white;
        font-size: 1.6em;
        margin-top: 5%;
    }
    .emptyPageImg{
        width: 50%;
        height: 75%;
    }

}
@media screen and (min-width: 990px) {
    .pr{
        width: 33%;
        height: 40%;
        margin-bottom: 2%;
    }

    .res{
        justify-content: flex-start;
    }
    .emptyPageTitle{
        color: white;
        font-size: 1.8em;
        margin-top: 5%;
    }
    .emptyPageImg{
        width: 30%;
        height: 80%;
    }
}
@media screen and (min-width: 1200px) {
    .pr{
        width: 25%;
        height: 55%;
        margin-bottom: 5%;
    }
}
@media screen and (max-width: 1400px) {
    .searchBarContainer{
        width: 90%;
        margin: 0 5%;
    }
    .searchBar{
        width: 100%;
        height: 40%;
        margin: 0 ;
    }
    .searchBar:hover{
        width: 100%;
    }
    .focused{
        width: 100%;
        border: none;
    }
    .categoryListTitle{
        width: 90%;
        height: 5%;
        margin: 0 5%;
        color: white;
        font-size: 1.9em;
        font-weight: 600;
    }
    .categoryListRow{
        height: auto;
    }

}





