#appfooter{
    width: 100%;
    height: 30vh;
    margin-top: 10%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerContainer{
    width: 90%;
    height: 100%;
    border-top: 2px solid #317AC7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footertitle{
    color: white;
    font-size: 40px;
    margin-bottom: 2%;
}
.footerdescription{
    color: white;
    font-size: 16px;
}
.footerlink{
    color: white;
    text-decoration: none;
    position: relative;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 800ms;
    transition-property: color;
}
.footerlink:focus,
.footerlink:hover {
    color:#317AC7;
}
.footerlink:focus:after,
.footerlink:hover:after {
    width: 100%;
    left: 0%;
}
.footerlink:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #317AC7;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 800ms;
    transition-property: width, left;
}
