
@keyframes background {
    100%{
        background-size: 4000px 1800px;
    }
}

#signin {
    width:100%;
    height:100%;
    position: absolute;
    background-image: url("Cloudy.svg");
    background-size: 3200px 1200px;
    background-position: -1200px 0px;
    animation: background 13s infinite alternate linear;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
}

.signinContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signinTitle{
    margin: 1%;
    color: whitesmoke;
    font-size: 2.3em;

    z-index: 2;
}

.signinCard{
    width: 25%;
    padding: 2% 4% 2% 4%;
    border-radius: 10px;
    background: rgba(32, 53, 84, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.inputSignin{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 6%;
}
.extContainer{
    display: flex;
    flex-direction: row;
}
.iconContainer{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2px;
    color:rgba(236,102,112,1);
}
.icon{
    margin-right: 2%;
    margin-top: 2%;
}
.fieldContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.enter{
    margin: 0;
    color: #a8dadc;
    font-size: 1.1em;
    z-index: 1;
}

.inputForm{
    width: 100%;
    border: 0;
    border-bottom: 1px solid gray;
    background: transparent;
    color: whitesmoke;
    font-size: 1.1em;
    font-family: Ubuntu;
    z-index: 1;
    padding: 5px 5px 5px 0px;

}

.inputForm:focus{
    outline: none;
    border-bottom: 1px solid dodgerblue;
}

.newCard{
    color: gray;
    font-size: 1.1em;
    width: 25%;
    padding: 1% 4% 1% 4%;
    border-radius: 10px;
    background: rgba(32, 53, 84, 0.8);
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

#oldsignup{
    padding-left: 1.5%;
}
.link{
    color: whitesmoke;
    text-decoration: none;
}

.link:hover{
    background: linear-gradient(90deg, rgba(230,57,70,1) 0%, rgba(236,102,112,1) 54%, rgba(255,132,132,1) 100%);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.SubmitSignin{
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .signinCard{
        width: 80%;
        padding: 2% 3% 2% 3%;
        margin-bottom: 4%;
    }
    .newCard{
        width: 80%;
        padding: 2% 3% 2% 3%;
        margin-top: 4%;
    }
    .SubmitSignin{
        margin-bottom: 3%;
    }
    #new{
        display: none;
    }
    #oldsignup{
        display: none;
    }
    #newsignup{
        font-size: 1.2em;
        display: block;
    }
    .inputForm{
        width: 80%;
    }
    .inputSignin{
        margin-right: 5%;
        margin-left: 5%;
    }
    .enter{
        margin-top: 3%;
        margin-bottom: 2%;
    }
    .signinTitle{
        margin-bottom: 4%;
    }
    #error{
        font-size: 1.3em;
        margin: auto;
        font-weight: 600;
    }
}
