.imga{
    width: 90%;
    height: 90%;

}
.categoryTitle{
    width: 90%;
    height: 10%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-size: 24px;
}
.category{
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #343e4f;
    box-shadow: 0 10px 15px 0 #343e4f;
}
.category:hover{
    cursor: pointer;
}
.category:hover .imga{
    transform: scale(1.16);
    transition: all 0.4s ease-out;
}
