.category{
    width: 24%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: rgba(217, 227, 231, 0.9);
    box-shadow: 0 10px 15px 0 #343e4f;
}
.category:hover{
    cursor: pointer;
}
.category:hover .imga{
    transform: scale(1.16);
}
.categoryTitle{
    width: 90%;
    height: 10%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #343e4f;
    font-size: 24px;
}

.imga{
    width: 90%;
    height: 88%;
    transition: all 0.8s ease-out;
}

@media screen and (min-width: 300px) {
    .category{
        width: 48%;
        height: 82%;
        margin-top: 5%;
    }
    .categoryTitle{
        font-size: 16px;
    }
}
@media screen and (min-width: 800px) {
    .category{
        width: 48%;
        height: 82%;
        margin-top: 5%;
    }
    .categoryTitle{
        font-size: 24px;
    }
}

@media screen and (min-width: 1400px) {
    .category{
        width: 24%;
        height: 95%;
        margin-top: 0;
    }

}