#home{
    width: 100%;
    height: 100%;
    background-color: #E9EFFF;
    overflow-x: hidden;
    background-image: url("./wave-haikei.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.carousel{
    width: 100%;
    height: 70%;

}
.secContainer{
    width: 100%;
    height: 100%;
}
.productSection{
    width: 100%;
    height: 55%;
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.secTitle{
    width: 100%;
    height: 20%;
    margin-left: 11%;
    color: white;
    font-size: 1.9em;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.carouselNew{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mySwiper {
    padding: 5%;
    width: 100%;
    height: 100%;

}

.swiper-slide {

}
.swiper-button-prev, .swiper-button-next {
    cursor: pointer;
    color: rgb(236,102,112);

}

.swiper-button-next:hover, .swiper-button-prev:hover {
    transform: scale(1.2);
}


div.carousel >.swiper {
    width: 90%;
    height: 85%;
    margin: 0 auto;
    padding: 0 5% 5% 5%;
}

div.carousel > .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

div.carousel > .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .carouselNew{
        flex-direction: column;
    }
}