.bttContainer{
    transform: translate(-50%, 125%);
    width: 60%;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.productCard{
    width: 96%;
    height: 96%;
    margin: 2% 2%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 15px 0 #343e4f;
}

.productCard:hover{
    transform: scale(1.06);
    transition: all 0.4s ease-out;
}
.productCard:hover .bttContainer{
    transform: translate(-50%, 50%);
    opacity: 1;
}
.productImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55%;
    background: #343e4f;
    border-radius: 7px 7px 0 0;
}
.product-image{
    width: 100%;
    height: 100%;
    border-radius: 7px 7px 0 0;
}
.productDescription{
    width: 90%;
    height: 40%;
    max-height: 40%;
    margin: 0 5% 5% 5%;
    background: white;
    border-radius: 0 0 7px 7px;
    display: flex;
    flex-direction: column;

}
.productName{
    height: 15%;
    margin: 5% 0 0 0;
    padding: 0;
    font-size: 24px;
    color: #317AC7;
    overflow-x: scroll;
}
.productText{
    height: 78%;
    max-height: 70%;
    margin-top: 2%;
    color: gray;
    overflow: scroll;
}
.modal{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modalviewContainer{
    width: 70%;
    height: 80%;
    background-color: rgba(217, 227, 231, 0.9);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}
.iconClose{
    width: 95%;
    height: 5%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
.xIcon{
    color:#317AC7
}

.modalviewContentContainer{
    width: 90%;
    height: 89%;
    margin: 2% 0 2% 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.modalviewLeftCont{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.modalImg{
    width: 100%;
    height: 100%;
    border-radius: 7px ;
}

.modalviewRightCont{
    height: 85%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Ubuntu;
}
.modalTitle{
    font-size: 30px;
    color: #317AC7 ;
}
.modalCategory{
    font-size: 14px;
    color: gray;
}
.modalText{
    width: 100%;
    height: 80%;
    color: black;
    padding: 0  ;
    margin: 2% 0 0 0;
}
.modalLocAndDate{
    color: gray;
    margin-bottom: 1%;
}
.modalDescription{
    max-height: 50%;
    overflow: scroll;
}
.modalValAndStatus{
    color: gray;
    margin-top: 2%;
}
.modalButton{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;

}


.moreBtt{
    display: none;
}

@media screen and (max-width: 800px){
    .bttContainer{
        display: none;
    }
    .moreBtt{
        display: flex;
        height: 20%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .productDescription{
        margin: 0 5% 2% 5%;
        height: 43%;
        max-height: 45%;
    }
    .productName{
        height: 15%;
        margin: 2% 0 0 0;
    }
    .productText{
        height: 70%;
        max-height: 70%;
        margin-top: 0;
    }
    .productCard:hover{
        transform: scale(1);
        transition: all 0.4s ease-out;
    }

}
@media screen and (max-width: 880px){
    .bttContainer{
        display: none;
    }
    .moreBtt{
        display: flex;
        height: 20%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .productCard{
        height: 85%;
    }
    .productDescription{
        margin: 0 5% 2% 5%;
        height: 43%;
        max-height: 45%;
    }
    .modalviewContainer{
        width:100%;
        height: 100%;
    }
    .modalviewContentContainer{
        flex-direction: column;
    }
}