.productCard{
    width: 96%;
    height: 96%;
    margin: 2% 2%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 15px 0 #343e4f;
    cursor: pointer;
}

.productCard:hover{
    transform: scale(1.06);
    transition: all 0.4s ease-out;
}

.productImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55%;
    background: #343e4f;
    border-radius: 7px 7px 0 0;
}

.product-image{
    width: 100%;
    height: 100%;
    border-radius: 7px 7px 0 0;
}

.productDescription{
    width: 90%;
    height: 43%;
    max-height: 43%;
    margin: 0 5% 2% 5%;
    background: white;
    border-radius: 0 0 7px 7px;
    display: flex;
    flex-direction: column;
}

.productName{
    height: 20%;
    margin: 2% 0 0 0;
    padding: 0;
    font-size: 24px;
    color: #317AC7;
    overflow-x: scroll;
}

.productText{
    height: 76%;
    max-height: 76%;
    margin-top: 2%;
    color: gray;
    overflow: scroll;
}

.modal{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modalviewContainer{
    width: 70%;
    height: 80%;
    background-color: rgba(217, 227, 231, 0.9);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}
.iconClose{
    width: 95%;
    height: 5%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
.xIcon{
    color:#EE6C4D
}

.modalviewContentContainer{
    width: 90%;
    height: 89%;
    margin: 2% 0 2% 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.modalviewLeftCont{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 7px ;
    box-shadow: 0 10px 15px 0 #343e4f;

}
.modalImg{
    width: 100%;
    height: 100%;
    border-radius: 7px ;
}

.modalviewRightCont{
    max-width: 50%;
    width: 50%;
    height: 85%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Ubuntu;
}
.modalTitle{
    font-size: 30px;
    color: #317AC7 ;
    max-height: 9%;
    overflow: scroll;
}
.modalCategory{
    font-size: 14px;
    color: gray;
}
.modalText{
    width: 100%;
    max-height: 80%;
    color: black;
    padding: 0  ;
    margin: 2% 0 0 0;
}
.modalLocAndDate{
    color: gray;
    margin-bottom: 1%;
}
.modalDescription{
    max-height: 80%;
    overflow: scroll;
}
.modalValAndStatus{
    color: gray;
    margin-top: 2%;
}

.modalButton{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.modalOfferBtt{
    height: 80%;
    width: 30%;
    margin-left: 5%;
}
.modalOfferSelect{
    height: 80%;
    width: 70%;
    margin-top: 2%;
}

.moreBtt{
    display: none;
}

.mbtt{
    width: 40%;
    height: 100%;
}
@media screen and (max-width: 800px){
    .moreBtt{
        display: flex;
        height: 20%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .productDescription{
        margin: 0 5% 2% 5%;
        height: 43%;
        max-height: 43%;
    }
    .productName{
        height: 15%;
        margin: 2% 0 0 0;
    }
    .productText{
        height: 63%;
        max-height: 63%;
        margin-top: 0;
    }
    .productCard:hover{
        transform: scale(1);
        transition: all 0.4s ease-out;
    }

}
@media screen and (max-width: 880px){
    .moreBtt{
        display: flex;
        height: 20%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .productCard{
        height: 85%;
    }
    .productDescription{
        margin: 0 5% 2% 5%;
        height: 43%;
        max-height: 43%;
    }

    .modalviewContainer{
        width:100%;
        height: 100%;
    }
    .modalviewContentContainer{
        flex-direction: column;
    }

    .modalviewRightCont{
        margin-top: 4%;
        width: 100%;
        max-width: 100%;
    }
}