.bttContainer{
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: .2rem 3rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.productCard{
    width: 96%;
    height: 96%;
    margin: 2% 2%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 10px 15px 0px #343e4f;
}

.productCard:hover{
    border: 3px solid #317AC7;
    transform: scale(1.04);
    transition: all 0.4s ease-out;
}
.productCard:hover .bttContainer{
    transform: translate(-50%, 50%);
    opacity: 1;
}
.productImage{
    width: 100%;
    height: 60%;
    background: #2c3552;
    background-image: url("CardConcept.png");
    background-size: cover;
    background-position: center;
    border-radius: 7px 7px 0 0;
}
.productDescription{
    width: 90%;
    height: 40%;
    padding: 0% 5% 5% 5%;
    background: white;
    border-radius: 0 0 7px 7px;
    display: flex;
    flex-direction: column;

}
.productName{
    margin: 0;
    margin-top: 5%;
    padding: 0;
    font-size: 24px;
    color: #317AC7;
}
.productText{
    margin-top: 2%;
    color: #707D9D;
}

.modalviewContainer{
    width: 92vw;
    height: 100vh;
    margin: 0 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E9EFFF;
    border: none;

    outline: none;

}
.modalTitle{
    color: red;
}
.modalText{
    color: black;
    padding: 0 5% ;
    margin: 0;
}