.appNavContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #E9EFFF;
   /* background-image: url("./WaveNav.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -60px;*/

}

.navAll{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 0% 0%;
    /*border-bottom: 1px solid #6D72A6;*/
}

.navLeft{
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 1.6em;
    margin-left: 4%;
    font-weight: bold;
}

.navRight{
    margin-right: 1%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navCenter{
    width: 60%;
    display: flex;
    margin-left: 16%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.linknav{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    margin-left: 5%;
    color: #2F4F75
}

.navItem{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0% 0%;
}

.icons{
    cursor: pointer;
    display: block;
    position: relative;
    overflow: hidden;
    background-color: #E9EFFF;
    border: none;
    outline: none;
}

.icons span:first-child{
    display: inline-block;
    padding: 15px 40px;
}

.icons span:last-child{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
}

.icons span{
    color: #2F4F75;
    font-size: 19px;
    font-weight: bold;
    transition: transform 0.2s ease-out;
}

.icons:hover span:first-child{
    transform: translateY(100%);
}

.icons:hover span:last-child{
    transform: none;
}

.Icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2F4F75;
    transform: scale(1.5);
}