.appNavContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:  transparent;
}

.navAll{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 5%;
}

.navLeft{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.7em;
    margin-bottom: 5px;

}

.navRight{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navCenter{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.linknav{
    text-decoration: none;
    font-size: 1.1em;
    padding: 15px 0;
    color: white;
}

.navItem{
    display:flex;
    justify-content: center;
    align-items: center;
}

.icons{
    cursor: pointer;
    display: block;
    position: relative;
    overflow: hidden;
    background-color:  transparent;
    border: none;
    outline: none;

}
.navRight span:first-child{
    padding: 15px 50px;
}
.icons span:first-child{
    display: inline-block;
    padding: 15px 50px;
}

.icons span:last-child{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
}

.icons span{
    color: white;
    font-size: 19px;
    font-weight: bold;
    transition: transform 0.2s ease-out;
}

.icons:hover span:first-child{
    transform: translateY(100%);
}

.icons:hover span:last-child{
    transform: none;
}

.Icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: scale(1.5);
    cursor: pointer;
}

.selected{
    border-bottom: 5px solid white;
    border-radius: 4px;
}

.menu-btn{
    color: white;
    cursor: pointer;
    transform: scale(2);
}

.navMobile{
    width: 46%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 4%;
}

.navMobile-hidden{
    display: none;
}

@media screen and (max-width: 900px){
    .navCenter{
        display: none;
    }
    .navRight{
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }
    .navMobile-hidden{
        display: flex;
        width: 10%;
    }
    .navLeft{
        display: none;

    }
}