#signup {
    width:100%;
    height:100%;
    position: absolute;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    background-image: url("giphy-2.gif");
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue','Noto Sans', 'Liberation Sans', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
}

.cont {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}
.navbarContainer{
    width: 100%;
    height: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}
.navbar{
    color: whitesmoke;
    font-size: 1.1em;
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.link{
    color: whitesmoke;
    text-decoration: none;
}
.link:hover{
    font-size: 1em;
    background: linear-gradient(90deg, rgba(39,32,139,1) 0%, rgba(41,99,136,1) 53%, rgba(2,155,187,1) 100%);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.formContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formCard{
    width: 30%;
    padding: 2% 5% 2% 5%;
    border-radius: 10px;
    background: rgb(27,22,99);
    background: linear-gradient(90deg, rgba(27,22,99,0.8) 0%, rgba(32,78,108,0.8) 53%, rgba(0,114,138,0.8) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title{
    color: whitesmoke;
    font-size: 2.3em;
    font-weight: 600;
    z-index: 2;
}
.subtitle{
    color: gray;
    font-size: 1.3em;
    font-weight: 600;
    z-index: 2;
    margin-bottom: 7%;
}
.inputContainer{
    margin-bottom: 4%;
}
.enterSomething{
    margin: 0;
    margin-bottom: 2%;
    color: whitesmoke;
    font-size: 1.1em;
    font-weight: 600;
    z-index: 1;
}
.xxx{
    display: flex;
    flex-direction: row;
}
.input{
    width: 100%;
    border: 0.5px solid darkgrey;
    border-radius: 4px;
    background: transparent;
    color: whitesmoke;
    font-size: 1.1em;
    font-weight: 500;
    z-index: 1;
    padding: 7px;
}
.input:focus{
    outline: none;
    border: 0.5px solid dodgerblue;
}



.errorMsg{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hidden{
    display: none;
}



